<footer class="site-footer text-center">
  <div class="container">
    <div class="footer-logo-container">
      <a href="/">
        <img src="/assets/hamster-logo.png" alt="Hamster Blog Logo" class="logo" width="180">
      </a>
    </div>
    <p>© 2025 Nguyen Van Dat. All rights reserved.</p>
  </div>
</footer>