 <header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div class="logo-container">
        <a href="/">
          <img src="/assets/hamster-logo.png" alt="Hamster Blog Logo" class="logo" width="180">
        </a>
      </div>
      <nav>
        
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/blog/">Blog</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>